.projects{
    color: white;
    margin-bottom: 30px;
}

.borderBottom{
    max-width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.336);
}

.projectHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectHeader h1{
    font-size: 6rem;
    font-weight: 700;
    background: linear-gradient(220deg, rgb(214, 104, 64) 36%, rgb(60, 11, 175) 100%);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-font{
    font-size: 1.5rem;
    color: rgb(230, 92, 42);
    padding: 0;
}

.links a{
    text-decoration: none;
    color: rgb(230, 92, 42);
    transition: 0.3s;
}

.links a:hover{
    color: rgb(25, 101, 151);
}

.links Link{
    text-decoration: none;
    color: rgb(230, 92, 42);
    transition: 0.3s;
}

.links Link:hover{
    color: rgb(25, 101, 151);
}

.links a p{
    font-size: 25px;
}

.links {
    display: flex;
    gap: 1rem;
}


.projectHeader h3 {
    font-size: 1.3rem;
}

.proj-grid p {
    font-size: 1.2rem;
}

.proj1-header{
    font-size: 2.6rem;
    padding-bottom: 0px;
    border-bottom: .5px solid rgba(255, 255, 255, 0.493);
}

.proj-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 6rem;
    margin-top: 8%;
}

.projImg {
    width: 500px;
    height: 270px;
    object-fit: contain;
}

.gridItem{
    width: 500px;
}

@media (max-width: 750px) {

    .proj-grid{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 8%;
    }

    .projImg {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .gridItem{
        width: 300px;
    }

    .projectHeader h1{
        font-size: 4rem;
    }

    .proj-grid p {
        font-size: 1.3rem;
        
    }
    

}
